.navbar {
  display: flex;
  background-color: #F0A06A;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  height: 40px;
  align-items: center;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: white;
}

img{
  width: 121px;
  height: 50px;
  cursor: pointer;
}
.nav-item #user {
  font-size: 30px; /* Cambia el tamaño del icono según tus preferencias */
  border: 1px solid #fafafa;
  border-radius: 40px;
  padding: 7px;
  transition: all 0.3s;
}

.nav-item .button{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-item #user:hover {
  padding: 5px; /* Reduce el padding cuando el cursor está encima del botón */
  color: #0a0a0a;
  border: 1px solid #111111;
}

.nav-item #shop {
  font-size: 30px; /* Cambia el tamaño del icono según tus preferencias */
  border: 1px solid #fafafa;
  border-radius: 40px;
  padding: 8px;
  transition: all 0.3s;
}
.nav-item #shop:hover {
  font-size: 25px;
  padding: 3px; /* Reduce el padding cuando el cursor está encima del botón */
  color: #0a0a0a;
  border: 1px solid #111111;
}
