<div id="parallax-world-of-ugg">

  <section>
    <div class="title">

      <h1>--Clytia--</h1>
    </div>
  </section>

  <section>
    <div class="parallax-one">
      <h2>Realza tu belleza con elegancia y estilo</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p><span class="first-character sc">I</span>
        Nuestros productos están diseñados pensando en la mujer moderna, segura de sí misma y que busca destacar en cada ocasión. Nos enorgullece ofrecer una amplia gama de artículos que te permiten expresar tu individualidad y resaltar tu personalidad.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>UNA GRAN DIVERSIDAD DE PRODUCTOS</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <div class="card-container">
        <button class="card">
            <div class="icon">
              <img src="./assets/images/earrings.png" alt="" srcset="">
            </div>
            <div class="name">
              Aretes
          </div>
        </button>

        <button class="card">
          <div class="icon">
            <img src="./assets/images/handbag.png" alt="" srcset="">
          </div>
          <div class="name">
            Bolsos
          </div>
        </button>
        <button class="card">
          <div class="icon">
            <img src="./assets/images/bracelet.png" alt="" srcset="">
          </div>
          <div class="name">
            Pulseras
          </div>
        </button>
        <button class="card">
          <div class="icon">
            <img src="./assets/images/necklace.png" alt="" srcset="">
          </div>
          <div class="name">
            Collares
          </div>
        </button>
        <button class="card">
          <div class="icon">
            <img src="./assets/images/wedding-rings.png" alt="" srcset="">
          </div>
          <div class="name">
            Anillos
          </div>
        </button>
      </div>

    </div>
  </section>
</div>
